body {
    font-family: Arial, sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#feedbackform {
    padding-left: 93%
}

#huskerimage {
    padding-left: 250%;
}

.maintext {
    width: 150%;
    margin: 0 auto;
    column-count: 1;
    padding-left: 80%;
}

h1 {
    margin: 0;
}

main {
    max-width: 600px;
    width: 100%;
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 10px;
    max-width: 600px;
    width: 100%;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

div {
    column-count: 3;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}